
NODE_ENV=development
PORT=3000
DB_HOST=
DB_PORT=
DB_USER=
DB_PASS=
DB_NAME=
DATABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=

# Google Client ID for OAuth2
GOOGLE_CLIENT_ID=

PAYWAY_MERCHANT_ID=
PAYWAY_PUBLIC_KEY=
PAYWAY_QR_API_URL=
PAYWAY_CHECK_TRANSACTION_URL=
PAYWAY_CALLBACK_URL=
PAYWAY_QR_IMAGE_TEMPLATE=template3_color

STRIPE_SECRET_KEY=