NODE_ENV=development
PORT=3000
DB_HOST=postgres
DB_PORT=5432
DB_USER=postgres
DB_PASS=postgres
DB_NAME=postgres
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/postgres"
SUPABASE_URL=https://your-supabase-project-url.supabase.co
SUPABASE_SERVICE_ROLE_KEY=your-supabase-service-role-key

# Google Client ID for OAuth2
GOOGLE_CLIENT_ID=your-google-client-id.apps.googleusercontent.com

PAYWAY_MERCHANT_ID=your-payway-merchant-id
PAYWAY_PUBLIC_KEY=your-payway-public-key
PAYWAY_QR_API_URL=https://checkout-sandbox.payway.com.kh/api/payment-gateway/v1/payments/generate-qr
PAYWAY_CHECK_TRANSACTION_URL=https://checkout-sandbox.payway.com.kh/api/payment-gateway/v1/payments/check-transaction-2
PAYWAY_CALLBACK_URL=https://your-callback-url/orders/payments/payway/webhook
PAYWAY_QR_IMAGE_TEMPLATE=template3_color

STRIPE_SECRET_KEY=sk_test_your_test_key_here
