VITE_GOOGLE_CLIENT_ID=493562970013-kim57tchn5ntcqv918fpuen9o7r2mv0c.apps.googleusercontent.com
VITE_SUPABASE_URL=https://ixezrmajxtgxsbrocqck.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml4ZXpybWFqeHRneHNicm9jcWNrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkwMjg4NDYsImV4cCI6MjA5NDYwNDg0Nn0.vZowQ77TZo_SQf3fSvgObNBOYnAEKgFNwYcDN5q9m7o
VITE_API_BASE_URL=http://localhost:3001/api
NUXT_PUBLIC_API_URL=http://localhost:3001/api
NUXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_51TY6UOEA77vqOvR7a7P3NZb94qnuYvJs6Kd179zrscUUYkBLFHQAGAWW7CwWcqAtH5H9mLHsCk5XdjC9cyqdKeEQ00q9EBCnfX
